<ng-container *ngIf="!isLoading">
  <form [formGroup]="eventForm">
    <div class="form-group">
      <label for="name">Name</label>
      <ng-container *ngIf="type === 'details'">
        <span class="form-control-details">{{getControlValue('name')}}</span>
      </ng-container>
      <ng-container *ngIf="type !== 'details'">
        <input formControlName="name" id="name" class="form-control" type="text">
      </ng-container>
    </div>
    <div class="form-group" *ngIf="(usersItems$ | async) as userItems">
      <label for="participants">Participants</label>
      <ng-container *ngIf="type === 'details'">
        <span class="form-control-details">{{userItemsDetails}}</span>
      </ng-container>
      <ng-container *ngIf="type !== 'details'">
        <app-select-multiple id="participants" formControlName="participants"
                             [options]="userItems"></app-select-multiple>
      </ng-container>
    </div>
    <ng-container *ngIf="type !== 'details'">
      <ng-container formArrayName="dates">
        <div class="date-container form-group" *ngFor="let dateControl of datesControl.controls; let dateIndex = index">
          <ng-container [formGroup]="dateControl">
            <div class="date-input-container">
              <label [for]="'startDate'+dateIndex" [class.d-md-none]="dateIndex > 0">Start Date</label>
              <input formControlName="startDate" [id]="'startDate'+dateIndex" class="form-control" type="text"
                     bsDatepicker [bsConfig]="{ dateInputFormat: inputDateFormat, containerClass: 'theme-green' }">
            </div>
            <div class="date-input-container">
              <label [for]="'endDate'+dateIndex" [class.d-md-none]="dateIndex > 0">End Date</label>
              <input formControlName="endDate" [id]="'endDate'+dateIndex" class="form-control" type="text"
                     bsDatepicker [bsConfig]="{ dateInputFormat: inputDateFormat, containerClass: 'theme-blue' }">
            </div>
            <div class="remove-date-icon-container">
              <button class="btn btn-icon" [disabled]="datesControl.controls.length < 2"
                      (click)="removeDateControl(dateIndex)">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-circle"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd"
                        d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd"
                        d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="add-date-icon-container">
          <button class="btn btn-icon" (click)="addDateControl()">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd"
                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
              <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            </svg>
          </button>
        </div>
      </ng-container>
    </ng-container>
    <div class="form-group" *ngIf="type === 'details'">
      <label>Dates</label>
      <span class="form-control-details" *ngFor="let date of dates">{{date}}</span>
    </div>
  </form>
</ng-container>
