<div class="wrapper">
  <div id="formContent">
    <h1>EDIT PROFILE</h1>

    <form [formGroup]="userProfileForm" *ngIf="stateType == states.PREFERENCES">
      <mat-form-field>
        <input
          matInput
          type="time"
          name="init"
          ngModel
          placeholder="Time init"
          formControlName="timeInit"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="time"
          name="end"
          ngModel
          placeholder="Time end"
          formControlName="timeEnd"
        />
      </mat-form-field>

      <button (click)="insertPref()">Submit Preferencias</button>
    </form>

    <form [formGroup]="userProfileForm" *ngIf="stateType == states.INITIAL">
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      <input
        type="password"
        id="password"
        name="login"
        placeholder="Password"
        formControlName="password"
      />
      <button (click)="checkPassword()">Submit</button>
    </form>

    <form [formGroup]="userProfileForm" *ngIf="stateType == states.MENU">
      <button (click)="enterChangePass()">Change Password</button>
      <button (click)="enterChangeUser()">Change Username</button>
      <button (click)="enterChangePreferences()">Change Preferences</button>
    </form>

    <form [formGroup]="userProfileForm" *ngIf="stateType == states.NAME">
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      <input
        type="text"
        id="login"
        name="name"
        placeholder="Name"
        formControlName="name"
      />
      <button (click)="changeUser()">Submit</button>
      <button (click)="back()">Back</button>
    </form>

    <form [formGroup]="userProfileForm" *ngIf="stateType == states.PASSWORD">
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      <input
        type="password"
        id="newpassword"
        name="login"
        placeholder="New password"
        formControlName="password"
      />
      <input
        type="password"
        id="confirmPassword"
        name="login"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
      <button (click)="changePassword()">Submit</button>
      <button (click)="back()">Back</button>
    </form>

    <button class="btn-exit" (click)="exitChangeProfile()">Exit</button>
  </div>
</div>

<ng-template #error>
  <div *ngIf="stateData.errorMessage" class="alert alert-danger">
    {{ stateData.errorMessage }}
  </div>
</ng-template>
