<div class="wrapper">
  <div id="formContent">
    <div class="calendar-icon-container">
      <img src="../../../assets/calendar-icon.png" alt="Calendar Icon" />
    </div>
    <form [formGroup]="createUserForm">
      <table>
        <tr>
          <td text-align: left>Username</td>
          <input
            type="text"
            id="login"
            name="login"
            placeholder="login"
            formControlName="username"
          />
        </tr>
        <tr>
          <td text-align: left>Password</td>
          <input
            type="password"
            id="password"
            name="login"
            placeholder="password"
            formControlName="password"
          />
        </tr>
        <tr>
          <td text-align: left>Confirm Password</td>
          <input
            type="password"
            id="confirmpassword"
            name="login"
            placeholder="confirm password"
            formControlName="confirmpassword"
          />
        </tr>
        <tr>
          <td text-align: left>Name</td>
          <input
            type="text"
            id="name"
            name="login"
            placeholder="name"
            formControlName="name"
          />
        </tr>
      </table>
      <button (click)="createUser()">Submit</button>
    </form>
  </div>
</div>
