$app-color-white: #FFFFFF;
$app-color-black: #000000;
$app-color-gray: #A9A9A9;
$app-color-light-gray: #E9E9E9;
$primary: #007bff;
$danger: #dc3545;
$success: #28a745;

$app-nav-background-color: #343a40;
$app-nav-border-color: #E8E8E8;
