@import './colors';

.color-gray {
  color: $app-color-gray !important;
}

.color-black {
  color: $app-color-black !important;
}

.color-white {
  color: $app-color-white !important;
}

.btn-no-focus {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.invisible {
  visibility: hidden;
}
