$app-screen-sm: 576px;
$app-screen-md: 768px;
$app-screen-lg: 992px;
$app-screen-xl: 1200px;
$app-screen-xxl: 1600px;

$app-menu-animation-time-show: 0.2s;
$app-nav-height: 64px;
$app-nav-z-index: 1001;
