<div class="container py-3">
  <div class="title-row row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-secondary"
             mwlCalendarPreviousView
             [view]="view"
             [viewDate]="viewDate"
             (viewDateChange)="setViewDate($event)">
          Previous
        </div>
        <div class="btn btn-outline-secondary"
             mwlCalendarToday
             [viewDate]="viewDate"
             (viewDateChange)="setViewDate($event)">
          Today
        </div>
        <div class="btn btn-secondary"
             mwlCalendarNextView
             [view]="view"
             [viewDate]="viewDate"
             (viewDateChange)="setViewDate($event)">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <div class="undo-redo-container p-2">
        <button [disabled]="!(hasUndo$ | async) || historyOperationLoading" class="btn btn-outline-primary"
                (click)="handleHistoryClick('undo')">
          Undo
        </button>
        <button [disabled]="!(hasRedo$ | async) || historyOperationLoading" class="btn btn-outline-primary"
                (click)="handleHistoryClick('redo')">
          Redo
        </button>
      </div>
      <div class="text-center">
        <button class="btn btn-primary float-right" (click)="addEvent('create')">Add new</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="calendarEvents$ | async"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="openDetails($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="calendarEvents$ | async"
      [refresh]="refresh"
      (eventClicked)="openDetails($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="calendarEvents$ | async"
      [refresh]="refresh"
      (eventClicked)="openDetails($event.event)">
    </mwl-calendar-day-view>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center justify-content-end">
      <span class="p-2">Show only my events?</span>
      <input type="checkbox" [ngModel]="isOnlyMyEvents" (ngModelChange)="changeOnlyMyEventsState($event)"/>
    </div>
  </div>
</div>

<app-user-events-table [eventsList]="myEvents$ | async"
                       (eventStatusChanged)="eventStatusChanged()"></app-user-events-table>
<app-event-modal [openModal]="openModal$" (changesMade)="fetchEvents()"></app-event-modal>

